*{
    margin: 0;
    padding: 0;
}
.qstn{
    min-height: 100vh;
    background-color: rgba(47, 79, 79, 0.87);
   /* background-color:  rgba(65, 105, 225, 0.521); */

}
.heading{
   padding: 1rem;
    text-align: center;
}
.heading h2{
    margin: 4rem auto .1rem auto;
    font-size: 2rem;
    font-family: forte;
    text-transform: capitalize;
    color: goldenrod;
}
.heading .underline{
    margin: auto;
     width: 5rem;
     height: .2rem;
     background-color: rgb(200, 173, 16);
}
.questions-wrapper{
   width: 70vw;
   margin: .5rem auto;
   padding: .2rem .4rem;
   background-color: rgba(245, 245, 245, 0.719);
   border-radius: .5rem;
}
.questions-wrapper article{
    padding: .1rem;
    /* border: .1rem solid #222; */
    /* display: inline-block; */
}
.question-header{
     display: flex;
     justify-content: space-between;
    margin: .5rem 1.5rem;
}

.question-header p {
    font-size: 1.1rem;
    text-transform: capitalize;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: .1rem;
    color: rgba(51, 26, 51, 0.938);
}
.question-header button{
    border: transparent;
    outline: none;
    background:transparent;
    cursor: pointer;
}
.question-header .fa{
    font-size: 1.5rem;
    color:  rgb(200, 173, 16);
    transition: .4s ease-in-out;
}
.fa:hover{
    transform: rotate(90deg);
    color: rgb(39, 33, 2);
}
.question-text{
    margin: .2rem .4rem;
    border-top: .1rem solid rgba(51, 26, 51, 0.863);

}
.question-text p{
    margin: .5rem 0rem;
    color: rgb(105, 78, 10);
    font-size: 1rem;
    font-weight: 600;
    
}


@media screen and (max-width:700px){
    .heading h2{
      font-size: 1.7rem;
    }
    .question-header p {
        font-size: 1rem;
    }
    .question-text p{
      font-size: .9rem;
    }
}
@media screen and (max-width:350px){
    .heading h2{
      font-size: 1.5rem;
    }
    .question-header p {
        font-size: .9rem;
    }
    .question-text p{
      font-size: .8rem;
    }
}


/* hide text */
.question-text{
    display: none;
}
.minus-btn{
    display: none;
}
.show-text .question-text{
    display: inline-block;
}
.show-text .minus-btn{
    display: inline;
}
.show-text .plus-btn{
    display: none;
}




